mixin sliderIndex(obj)
	.fnc-slider.example-slider.fnc-sliders
		.fnc-slider__slides.fnc-sliders__slides
		each item in obj
			if item.activeClass == true
				.fnc-slide.fnc-slides.m--active-slide
					.fnc-slide__inner.fnc-slides__inner
						.fnc-slide__image.fnc-slides__image
						.fnc-slide__bottom.fnc-slides__bottom
						.fnc-slide__content.fnc-slides__content
							.fnc-slide__heading-wrap.fnc-slides__heading-wrap
								span.fnc-slide__heading-hidden.fnc-slides__heading-hidden
									.fnc-slide__title.fnc-slides__title= item.titleTop
									if item.titleBottom != false
										.fnc-slide__title.fnc-slides__title= item.titleBottom
								h2.fnc-slide__heading.fnc-slides__heading
									.fnc-slide__title.fnc-slides__title= item.titleTop
									if item.titleBottom != false
										.fnc-slide__title.fnc-slides__title= item.titleBottom
							div
								.fnc-slide__text.fnc-slides__text= item.textTop
								.fnc-slide__text.fnc-slides__text= item.textBottom
							a(href=`${item.url}`, class="fnc-slide__btn fnc-slides__btn") смотреть категорию
								i.icon-angle-right-white
			else
				.fnc-slide.fnc-slides
					.fnc-slide__inner.fnc-slides__inner
						.fnc-slide__image.fnc-slides__image
						.fnc-slide__bottom.fnc-slides__bottom
						.fnc-slide__content.fnc-slides__content
							.fnc-slide__heading-wrap.fnc-slides__heading-wrap
								span.fnc-slide__heading-hiddenspan.fnc-slides__heading-hidden
									.fnc-slide__title.fnc-slides__title= item.titleTop
									if item.titleBottom  != false
										.fnc-slide__title.fnc-slides__title= item.titleBottom
								h2.fnc-slide__heading.fnc-slides__heading
									.fnc-slide__title.fnc-slides__title= item.titleTop
										if item.titleBottom  != false
											.fnc-slide__title.fnc-slides__title= item.titleBottom
							div
								.fnc-slide__text.fnc-slides__text= item.textTop
								.fnc-slide__text.fnc-slides__text= item.textBottom
							a(href=`${item.url}`, class="fnc-slide__btn fnc-slides__btn") смотреть категорию
								i.icon-angle-right-white

		.fnc-nav
			.fnc-nav__bgs
				.fnc-nav__bg.m--active-nav-bg
				.fnc-nav__bg
				.fnc-nav__bg
				.fnc-nav__bg
			.fnc-nav__controls
				span.fnc-nav__control
					span.fnc-nav__control-progress
				span.fnc-nav__control
					span.fnc-nav__control-progress
				span.fnc-nav__control
					span.fnc-nav__control-progress
				span.fnc-nav__control
					span.fnc-nav__control-progress



mixin sliderZoom(obj)
	.slideshow.js-slideshow
		ul.slideshow__items
			li.slideshow-item.slideshow__item
				span(style="background-image: url(image/assets/1.jpg" class="slideshow__image")
				span.slideshow__bottom
				span.slideshow__text Оформление Москвы
					br
					| ко дню города 2017
			li.slideshow-item.slideshow__item
				span(style="background-image: url(image/assets/2.jpg" class="slideshow__image")
				span.slideshow__bottom
				span.slideshow__text Оформление Москвы
					br
					| ко дню города 2018
			li.slideshow-item.slideshow__item
				span(style="background-image: url(image/assets/3.jpg" class="slideshow__image")
				span.slideshow__bottom
				span.slideshow__text Оформление Москвы
					br
					| ко дню города 2019


mixin sliderZoomPopup(obj)
	.slideshow.js-slideshow-popup.slideshow--popup
		ul.slideshow__items
			li.slideshow-item.slideshow__item
				span(style="background-image: url(image/assets/1.jpg" class="slideshow__image")
				span.slideshow__bottom
				span.slideshow__text Оформление Москвы
					br
					| ко дню города 2017
			li.slideshow-item.slideshow__item
				span(style="background-image: url(image/assets/2.jpg" class="slideshow__image")
				span.slideshow__bottom
				span.slideshow__text Оформление Москвы
					br
					| ко дню города 2018
			li.slideshow-item.slideshow__item
				span(style="background-image: url(image/assets/3.jpg" class="slideshow__image")
				span.slideshow__bottom
				span.slideshow__text Оформление Москвы
					br
					| ко дню города 2019